.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.App-table {
  border: 2px solid rgba(121, 119, 230, 0.425);
  width: 600px;
  margin-right: 50px;
  border-radius: 5px;
}
.App-table-item {
  cursor: pointer;
}
